<style>
  body  {
     margin: 0;
    padding: 0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/029/103/042/non_2x/colorful-mesh-gradient-background-with-bright-vibrant-color-and-abstract-wave-for-website-poster-magazine-postcard-or-aesthetic-design-vector.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
h1 {
  font-size: 2.5rem;
  color:powderblue;
  text-align: center;
  margin-bottom: 20px;
}
.text button {
  display: inline-block;
  background-color: yellowgreen;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.text {
  text-align: center;
  margin-top: 30px;
}
table {
  width: 40%;
  margin: 50px auto;
  background-color: blue;
  border-radius: 8px;
}
th {
  background-color: yellowgreen;
  color: white;
  font-weight: bold;
}
td{

  background-color: powderblue;
  text-align: center;
}



</style>


<h1>Articles</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Image</th>
      <th>Buttons</th>
    </tr>
  </thead>
  <tbody>

    <% @articles.each do |article| %>

    <tr>
        <td><%= link_to article.name, article %></td>
        <td><%= link_to article.age, article %></td>
        <td><%= link_to article.email, article %></td>
        <td class="img">
          <% if article.image.attached? %>
            <%= image_tag(article.image, size: "90x80") %>
          <% else %>
           <p> "No Image" </p>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_article_path(article) %>
          <%= link_to "Delete", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Bhai Pakka Kar Du?"
                  } %>
        </td>
    </tr>

  <% end %>

  </tbody>
</table>

<div class="text">
  <button><%= link_to "New Article", new_article_path %></button>
</div>

